.cover {

  h5 {
    // color: #4e73df;
    text-align: center;
    color: #5a5c69;
  }
  .head {
    color: #4e73df;
    font-weight: 500;
  }

  .notes {
    color: #000;
    font-weight: 300;
  }
}
