<olla-page-name [currentPage]="'Dashboard'"></olla-page-name>
<olla-stats-cards [stats]="stats$ |async"></olla-stats-cards>
<div class="row mb-5 my-xl-5 d-non">
  <div class="col-xl">
    <olla-sales-barchart [data]="monthlySales$ |async"></olla-sales-barchart>
  </div>
</div>
<div class="row">
  <div class="col-xl-4 col-md-6 mb-3">
    <olla-clients-doughnutchart [data]="clients$ |async"></olla-clients-doughnutchart>
  </div>
  <div class="col-xl-4 col-md-6 mb-3">
    <olla-opportunities-stages [stages]="stages" [totalStages]="totalStage"></olla-opportunities-stages>
  </div>
  <div class="col-xl-4 col-md-6 mb-3">
    <olla-overallamount-piechart [margin]="closedWonMargin" [target]="overallTarget"></olla-overallamount-piechart>
  </div>
  <div class="col-xl-4 mb-5">
    <olla-opportunities-latest [opportunities]="opportunities$ |async"></olla-opportunities-latest>
  </div>
</div>

<div *ngIf="isAdmin">
  <mat-tab-group animationDuration="0ms" class="m-3">
    <mat-tab label="Individual Opportunities By Stages" style="height: 20%">
      <div class="row">
        <div class="col-xl-4 col-md-6 my-3" *ngFor="let salesStaff of salesStaffs">
          <olla-individual-piechart [staffId]="salesStaff.staffId" [staffName]="salesStaff.name"></olla-individual-piechart>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Net Profit By Deals Won">
      <div class="row my-1">
        <div class="col-md-3">
          <mat-form-field appearance="outline" class="w-30">
            <mat-label>Fiscal Period</mat-label>
            <mat-select [formControl]="selectedQuarter" (selectionChange)="getIndividualDealsWon()">
              <mat-option *ngFor="let session of quarterOptions" [value]="session.value">
                {{session.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="individual">
        <div class="my-3 d-flex flex-column border-bottom py-2 w-100" *ngFor="let salesStaff of salesStaffs">
            <div class="col">
              <olla-amount-piechart *ngIf="selectedQuarter.value === 0" [staffId]="salesStaff.staffId" [staffName]="salesStaff.name" [staffTarget]="salesStaff.target" [margin]="closedWonMargin"></olla-amount-piechart>
              <olla-amount-piechart *ngIf="selectedQuarter.value === 1" [staffId]="salesStaff.staffId" [staffName]="salesStaff.name" [staffTarget]="salesStaff.target" [margin]="closedWonQ1Margin" [quarter]="quarter"></olla-amount-piechart>
              <olla-amount-piechart *ngIf="selectedQuarter.value === 2" [staffId]="salesStaff.staffId" [staffName]="salesStaff.name" [staffTarget]="salesStaff.target" [margin]="closedWonQ2Margin" [quarter]="quarter"></olla-amount-piechart>
              <olla-amount-piechart *ngIf="selectedQuarter.value === 3" [staffId]="salesStaff.staffId" [staffName]="salesStaff.name" [staffTarget]="salesStaff.target" [margin]="closedWonQ3Margin" [quarter]="quarter"></olla-amount-piechart>
              <olla-amount-piechart *ngIf="selectedQuarter.value === 4" [staffId]="salesStaff.staffId" [staffName]="salesStaff.name" [staffTarget]="salesStaff.target" [margin]="closedWonQ4Margin" [quarter]="quarter"></olla-amount-piechart>
            </div>
          </div>
        </div>
    </mat-tab>
    <mat-tab label="Net Profit By Payments Received">
      <div class="row my-1">
        <div class="col-md-3">
          <mat-form-field appearance="outline" class="w-30">
            <mat-label>Fiscal Period</mat-label>
            <mat-select [formControl]="selectReceivedQuarter" (selectionChange)="getIndividualPaymentReceived()">
              <mat-option *ngFor="let session of quarterOptions" [value]="session.value">
                {{session.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="individual">
        <div class="my-3 d-flex flex-column" *ngFor="let salesStaff of salesStaffs">
          <div class="col">
            <olla-percent-piechart *ngIf="selectReceivedQuarter.value === 0" [staffId]="salesStaff.staffId" [staffName]="salesStaff.name" [staffTarget]="salesStaff.target" [margin]="paymentReceivedMargin"></olla-percent-piechart>
            <olla-percent-piechart *ngIf="selectReceivedQuarter.value === 1" [staffId]="salesStaff.staffId" [staffName]="salesStaff.name" [staffTarget]="salesStaff.target" [margin]="paymentReceivedQ1Margin" [quarter]="quarterReceived "></olla-percent-piechart>
            <olla-percent-piechart *ngIf="selectReceivedQuarter.value === 2" [staffId]="salesStaff.staffId" [staffName]="salesStaff.name" [staffTarget]="salesStaff.target" [margin]="paymentReceivedQ2Margin" [quarter]="quarterReceived"></olla-percent-piechart>
            <olla-percent-piechart *ngIf="selectReceivedQuarter.value === 3" [staffId]="salesStaff.staffId" [staffName]="salesStaff.name" [staffTarget]="salesStaff.target" [margin]="paymentReceivedQ3Margin" [quarter]="quarterReceived"></olla-percent-piechart>
            <olla-percent-piechart *ngIf="selectReceivedQuarter.value === 4" [staffId]="salesStaff.staffId" [staffName]="salesStaff.name" [staffTarget]="salesStaff.target" [margin]="paymentReceivedQ4Margin" [quarter]="quarterReceived"></olla-percent-piechart>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<div class="row mb-5">
  <div class="col-xl">
    <olla-sales-table [sales]="sales$ |async"></olla-sales-table>
  </div>
</div>
