<olla-page-name [currentPage]="currentPage"></olla-page-name>
<form [formGroup]="form" (ngSubmit)="createStaff()">
  <div class="row my-4">
    <div class="col-xl-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>First Name</mat-label>
        <input formControlName="firstName" required matInput placeholder="First Name">
        <mat-error *ngIf="f.firstName.errors?.required">First Name is required</mat-error>
      </mat-form-field>
    </div>
    <div class="col-xl-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Last Name</mat-label>
        <input formControlName="lastName" required matInput placeholder="Last Name">
        <mat-error *ngIf="f.lastName.errors?.required">Last Name is required</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-xl-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Email</mat-label>
        <input formControlName="email" required matInput placeholder="Email" [disabled]="editMode">
        <mat-error *ngIf="f.email.errors?.required">Email is required</mat-error>
        <mat-error *ngIf="f.email.errors?.email">Invalid Email</mat-error>
      </mat-form-field>
    </div>
    <div class="col-xl-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Phone</mat-label>
        <input formControlName="phoneNumber" required matInput placeholder="Phone">
        <mat-error *ngIf="f.phoneNumber.errors?.required">Phone is required</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-xl-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Address</mat-label>
        <input formControlName="address" matInput placeholder="Address">
      </mat-form-field>
    </div>
    <div class="col-xl-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Birth Date</mat-label>
        <input formControlName="birthDate" required matInput [matDatepicker]="birthDate" placeholder="Birth Date">
        <mat-datepicker-toggle matSuffix [for]="birthDate"></mat-datepicker-toggle>
        <mat-datepicker #birthDate></mat-datepicker>
        <mat-error *ngIf="f.birthDate.errors?.required">Birth Date is required</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-xl-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Password</mat-label>
        <input type="password" formControlName="password" required matInput placeholder="Password">
        <mat-error *ngIf="f.password.errors?.required">Password is required</mat-error>
      </mat-form-field>
    </div>
    <div class="col-xl-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Confirm Password</mat-label>
        <input type="password" formControlName="confirm" required matInput placeholder="Confirm Password">
        <mat-error *ngIf="f.confirm.errors?.required">Confirm is required</mat-error>
        <mat-error *ngIf="f.confirm.errors?.confirmedValidator">Passwords don't match</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-xl-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Department</mat-label>
        <!-- <input formControlName="department" required matInput placeholder="Department"> -->
        <mat-select formControlName="departmentId" required>
          <mat-option *ngFor="let dept of deptOptions" [value]="dept.departmentId">
            {{ dept.departmentName }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="f.department.errors?.required">Department is required</mat-error>
      </mat-form-field>
    </div>
    <div class="col-xl-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Position</mat-label>
        <input formControlName="officeRole" required matInput placeholder="Position">
        <mat-error *ngIf="f.officeRole.errors?.required">Position is required</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-xl-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Roles</mat-label>
        <mat-select formControlName="systemRole" required multiple>
          <mat-option *ngFor="let client of roles$ |async" [value]="client.name">
            {{client.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="f.systemRole.errors?.required">Role is required</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-xl-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Date Of Resumption</mat-label>
        <input formControlName="dateOfResumption" required matInput [matDatepicker]="resumeDate" placeholder="Birth Date">
        <mat-datepicker-toggle matSuffix [for]="resumeDate"></mat-datepicker-toggle>
        <mat-datepicker #resumeDate></mat-datepicker>
        <mat-error *ngIf="f.dateOfResumption.errors?.required">Resumption Date is required</mat-error>
      </mat-form-field>
    </div>
    <div class="col-xl-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Grade</mat-label>
        <input formControlName="grade" matInput placeholder="Grade">
      </mat-form-field>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-xl-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Target</mat-label>
        <input formControlName="target" matInput placeholder="Target">
      </mat-form-field>
    </div>
  </div>
  <div class="d-flex justify-content-end mb-4">
    <button type="button" class="mx-3" [disabled]="loading" mat-raised-button color="warn" (click)="returnToStaff()">Cancel</button>
    <button type="submit" [disabled]="!form.valid || loading" mat-raised-button color="primary">
      <span *ngIf="!loading">Save</span>
      <div *ngIf="loading" class="spinner-border text-secondary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </button>
  </div>
</form>
