<form [formGroup]="registerForm" (ngSubmit)="register()">
  <div class="row">
    <div class="col-xl">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Company</mat-label>
        <input formControlName="name" matInput placeholder="Company">
        <mat-error *ngIf="f.name.errors?.required">Company is required</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-xl">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>First Name</mat-label>
        <input formControlName="userFirstName" matInput placeholder="First Name">
        <mat-error *ngIf="f.userFirstName.errors?.required">First Name is required</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-xl">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Last Name</mat-label>
        <input formControlName="userLastName" matInput placeholder="Last Name">
        <mat-error *ngIf="f.userLastName.errors?.required">Last Name is required</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-xl">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" formControlName="email" matInput placeholder="Email">
        <mat-error *ngIf="f.email.errors?.required">Email is required</mat-error>
        <mat-error *ngIf="f.email.errors?.email">Invalid Email</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-xl">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Phone</mat-label>
        <input formControlName="phone" matInput placeholder="Phone">
        <mat-error *ngIf="f.phone.errors?.required">Phone is required</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-xl">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Address</mat-label>
        <input formControlName="address" matInput placeholder="Address">
        <mat-error *ngIf="f.address.errors?.required">Address is required</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-xl">
      <div class="display-picture">
        <input type="file" #photo class="d-none" id="photo" (change)="imageSelected(photo.files)">
        <button mat-stroked-button type="button" color="primary" (click)="photo.click()">Upload Logo</button>
        <img class="img-fluid rounded-circle" [src]="logo" alt="">
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-xl">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Password</mat-label>
        <input formControlName="password" #password type="password" matInput placeholder="Password" />
        <button type="button" class="pt-3" *ngIf="password.type=='password'" matSuffix mat-icon-button aria-label="View" (click)="password.type='text'">
          <mat-icon>visibility</mat-icon>
        </button>
        <button type="button" class="pt-3" *ngIf="password.type=='text'" matSuffix mat-icon-button aria-label="Hide" (click)="password.type='password'">
          <mat-icon>visibility_off</mat-icon>
        </button>
        <mat-error *ngIf="f.password.errors?.required">Password is required</mat-error>
        <mat-error *ngIf="f.password.errors?.pattern">Password must be atleast 8 characters having an uppercase,
          lowercase, number and special Character</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-xl">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input formControlName="confirm" #confirm type="password" matInput placeholder="Confirm Password" />
        <button type="button" class="pt-3" *ngIf="confirm.type=='password'" matSuffix mat-icon-button aria-label="View" (click)="confirm.type='text'">
          <mat-icon>visibility</mat-icon>
        </button>
        <button type="button" class="pt-3" *ngIf="confirm.type=='text'" matSuffix mat-icon-button aria-label="Hide" (click)="confirm.type='password'">
          <mat-icon>visibility_off</mat-icon>
        </button>
        <mat-error *ngIf="f.confirm.errors?.required">Confirm is required</mat-error>
        <mat-error *ngIf="f.confirm.errors?.confirmedValidator">Passwords do not match</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="d-flex">
      <button class="btn btn-block btn-outline-primary" [disabled]="!registerForm.valid || loading">
        Register
        <div *ngIf="loading"  class="spinner-border text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </button>
  </div>
  <div class="mt-3 forget d-flex justify-content-between">
    <a routerLink="/auth/verify-company" class="small">Already Registered?</a>
  </div>
</form>
