<form [formGroup]="form"  (ngSubmit)="change()">

  <div class="row mb-2">
    <div class="col-xl">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Current Password</mat-label>
        <input formControlName="currentPassword" required matInput type="password" placeholder="Current Password">
        <mat-error *ngIf="f.currentPassword.errors?.required">Password is required</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-xl">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>New Password</mat-label>
        <input formControlName="password" required matInput type="password" placeholder="New Password">
        <mat-error *ngIf="f.password.errors?.required">Password is required</mat-error>
        <mat-error *ngIf="f.password.errors?.pattern">Password must be atleast 8 characters having an uppercase,
          lowercase, number and special character</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-xl">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input formControlName="confirm" required matInput type="password" placeholder="Confirm Password">
        <mat-error *ngIf="f.confirm.errors?.required">Confirm Password is required</mat-error>
        <mat-error *ngIf="f.confirm.errors?.confirmedValidator">Passwords don't match</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-xl">
      <button class="btn btn-block btn-outline-primary" [disabled]="!form.valid || loading">
        Update Password
        <div *ngIf="loading"  class="spinner-border text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </button>

    </div>
  </div>
</form>
