<olla-page-name [currentPage]="currentPage"></olla-page-name>
<div class="row  my-3">
  <div class="col-xl">
    <mat-card class="opportunity-card shadow br-20">
      <olla-loading-spinner></olla-loading-spinner>
      <div class="row my-3">
        <div class="col-xl-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Staff</mat-label>
            <mat-select [formControl]="staffTask" (selectionChange)="getStaffTask()">
              <mat-option *ngFor="let staff of activeStaffs" [value]="staff.staffId">
                {{ staff.firstName }} {{ staff.lastName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-xl-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Date Range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate [(ngModel)]="filter.startTime"  placeholder="Start date">
              <input matEndDate [(ngModel)]="filter.endTime" placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        </div>
        <div class="col-xl-4 d-flex align-items-center justify-content-between">
          <button class="mb-2"  mat-stroked-button color="primary" (click)="filterMemos()">Update</button>
          <button class="mb-2"  mat-stroked-button color="success">Export</button>
        </div>
      </div>

      <div class="opportunity-table of-auto">
        <div class="my-5">
          <h5>Core Values</h5>
          <table mat-table class="border" [dataSource]="coreDataSource">

            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element; index as i"> {{i+1}} </td>
            </ng-container>

            <!-- Staff Column -->
            <ng-container matColumnDef="task">
              <th mat-header-cell *matHeaderCellDef> Tasks </th>
              <td mat-cell *matCellDef="let element">
                <span style="display: inline-block; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; max-width: 35rem;">{{element.name}}</span>
              </td>
            </ng-container>

            <!-- Staff Column -->
            <ng-container matColumnDef="weight">
              <th mat-header-cell *matHeaderCellDef> Weight </th>
              <td mat-cell *matCellDef="let element">
                <span style="display: inline-block; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; max-width: 12rem;">{{element.weight}}</span>
              </td>
            </ng-container>

            <!-- Date Column -->
            <ng-container matColumnDef="detailsDate">
              <th mat-header-cell *matHeaderCellDef>Appraised Date</th>
              <td mat-cell *matCellDef="let element; index as i"> {{ '' }} </td>
            </ng-container>

            <!-- Score -->
            <ng-container matColumnDef="score">
              <th mat-header-cell *matHeaderCellDef>Score </th>
              <td mat-cell *matCellDef="let element"> {{''}} </td>
            </ng-container>



            <!-- Action Points -->
            <!-- <ng-container matColumnDef="actionPoints">
              <th mat-header-cell *matHeaderCellDef>Action Points</th>
              <td mat-cell *matCellDef="let element"> {{element.assignmentDate |date:'mediumDate'}} </td>
            </ng-container> -->

            <!-- Button Column -->
            <!-- <ng-container matColumnDef="button">
              <th mat-header-cell *matHeaderCellDef> <span class="invisible">Button</span> </th>
              <td mat-cell *matCellDef="let element">
                <button (click)="editTaskDetail(element.memoTaskId, element.name, getTaskDetailId(element.memoTaskId), getTaskDate(element.memoTaskId), getTaskNote(element.memoTaskId), getTaskScore(element.memoTaskId), getTaskComment(element.memoTaskId))"  mat-stroked-button color="primary">
                  {{ AddOrEdit(element.memoTaskId) ? 'Edit' : "Add" }}
                </button>
              </td>
            </ng-container> -->

            <!-- Buttons Column -->
            <ng-container matColumnDef="button">
              <th mat-header-cell *matHeaderCellDef> <span class="invisible">Button</span> </th>
              <td mat-cell *matCellDef="let element">
                <button [matTooltip]="toolTip" matTooltipPosition="after" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="editTaskDetail(element.memoTaskId, element.name, getTaskDetailId(element.memoTaskId), getTaskDate(element.memoTaskId), getTaskNote(element.memoTaskId), getTaskScore(element.memoTaskId), getTaskComment(element.memoTaskId))">
                    <mat-icon>edit</mat-icon>
                    <span>Note</span>
                  </button>
                  <button mat-menu-item (click)="openAppraisalDialog(element.name, element.weight, getTaskDetailId(element.memoTaskId), getTaskScore(element.memoTaskId), getTaskComment(element.memoTaskId))">
                    <mat-icon>comment</mat-icon>
                    <span>Appraise</span>
                  </button>
                </mat-menu>

              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayCoreColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayCoreColumns;"></tr>
          </table>
        </div>
      </div>

      <div class="opportunity-table of-auto">
        <h5>KPIs</h5>
        <table mat-table class="border" [dataSource]="kpiDataSource">

          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element; index as i"> {{i+1}} </td>
          </ng-container>

          <!-- Staff Column -->
          <ng-container matColumnDef="task">
            <th mat-header-cell *matHeaderCellDef> Tasks </th>
            <td mat-cell *matCellDef="let element">
              <span style="display: inline-block; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; max-width: 20rem;">{{element.name}}</span>
            </td>
          </ng-container>

          <!-- Staff Column -->
          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef> Weight </th>
            <td mat-cell *matCellDef="let element">
              <span style="display: inline-block; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; max-width: 5rem;">{{element.weight}}</span>
            </td>
          </ng-container>

          <!-- Staff's Comment -->
          <ng-container matColumnDef="staffComment">
            <th mat-header-cell *matHeaderCellDef>Notes</th>
            <td mat-cell *matCellDef="let element">
              <span style="display: inline-block; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; max-width: 12rem;">
                {{ '' }}
              </span>
            </td>
          </ng-container>

          <!-- Date Column -->
          <ng-container matColumnDef="detailsDate">
            <th mat-header-cell *matHeaderCellDef>Appraised Date</th>
            <td mat-cell *matCellDef="let element; index as i"> {{ '' }} </td>
          </ng-container>

          <!-- Score -->
          <ng-container matColumnDef="score">
            <th mat-header-cell *matHeaderCellDef>Score </th>
            <td mat-cell *matCellDef="let element"> {{ '' }} </td>
          </ng-container>

          <!-- MD's Comment -->
          <ng-container matColumnDef="mdComment">
            <th mat-header-cell *matHeaderCellDef>MD's Comment</th>
            <td mat-cell *matCellDef="let element">
              <span style="display: inline-block; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; max-width: 15rem;">
                {{' '}}
              </span>
            </td>
          </ng-container>

          <!-- Action Points -->
          <!-- <ng-container matColumnDef="actionPoints">
            <th mat-header-cell *matHeaderCellDef>Action Points</th>
            <td mat-cell *matCellDef="let element"> {{element.assignmentDate |date:'mediumDate'}} </td>
          </ng-container> -->

          <!-- Button Column -->
          <!-- <ng-container matColumnDef="button">
            <th mat-header-cell *matHeaderCellDef> <span class="invisible">Button</span> </th>
            <td mat-cell *matCellDef="let element">
              <button (click)="editTaskDetail(element.memoTaskId, element.name, getTaskDetailId(element.memoTaskId), getTaskDate(element.memoTaskId), getTaskNote(element.memoTaskId), getTaskScore(element.memoTaskId), getTaskComment(element.memoTaskId))"  mat-stroked-button color="primary">
                {{ AddOrEdit(element.memoTaskId) ? 'Edit' : "Add" }}
              </button>
            </td>
          </ng-container> -->

          <!-- Buttons Column -->
          <ng-container matColumnDef="button">
            <th mat-header-cell *matHeaderCellDef> <span class="invisible">Button</span> </th>
            <td mat-cell *matCellDef="let element">
              <button [matTooltip]="toolTip" matTooltipPosition="after" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="editTaskDetail(element.memoTaskId, element.name, getTaskDetailId(element.memoTaskId), getTaskDate(element.memoTaskId), getTaskNote(element.memoTaskId), getTaskScore(element.memoTaskId), getTaskComment(element.memoTaskId))">
                  <mat-icon>edit</mat-icon>
                  <span>Note</span>
                </button>
                <button mat-menu-item (click)="openAppraisalDialog(element.name, element.weight, getTaskDetailId(element.memoTaskId), getTaskScore(element.memoTaskId), getTaskComment(element.memoTaskId))">
                  <mat-icon>comment</mat-icon>
                  <span>Appraise</span>
                </button>
              </mat-menu>

            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </mat-card>
  </div>
</div>
