<form [formGroup]="contactForm" (ngSubmit)="addContact()">
  <div class="row">
    <div class="col-xl">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Contact Name</mat-label>
        <input formControlName="name" required matInput placeholder="Name">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-xl">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Phone</mat-label>
        <input formControlName="phone" required matInput placeholder="Phone">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-xl">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Email</mat-label>
        <input formControlName="email" required matInput placeholder="Email">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-xl">
      <mat-checkbox formControlName="isMain">Main</mat-checkbox>
    </div>
  </div>
  <div class="d-flex">
    <button class="btn btn-block btn-outline-primary" [disabled]="!contactForm.valid">
      <span *ngIf="!loading">Create</span>
      <div *ngIf="loading" class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </button>
</div>
</form>
