<form #form="ngForm" (ngSubmit)="reset()">
  <div class="row">
    <div class="col-xl">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Email</mat-label>
        <input required [(ngModel)]="request.email" name="email" matInput type="email" placeholder="Email">
      </mat-form-field>
    </div>
  </div>
  <div class="d-flex">
      <button [disabled]="!form.form.valid" class="btn btn-block btn-outline-primary">Reset Password</button>
  </div>
</form>
<div class="mt-2 forget">
  <a routerLink="/auth/login" class="small">Back To Login</a>
</div>
