<olla-page-name [currentPage]="currentPage"></olla-page-name>

<div class="row  my-3">
  <div class="col-xl">
    <mat-card class="opportunity-card shadow br-20">
      <olla-loading-spinner [loading]="isLoading$ |async"></olla-loading-spinner>
      <div class="d-flex flex-column flex-md-row justify-content-end my-4">

        <button class="mr-md-3 mb-3 mb-md-0" (click)="openDialog()" mat-stroked-button color="primary">New Opportunity</button>
        <button class="mr-md-3 mb-3 mb-md-0" (click)="openCalculator()" mat-stroked-button color="info">Margin Calculator</button>
        <button (click)="exportExcel()" mat-stroked-button color="success">Export</button>
      </div>
      <div class="row my-1">
        <div class="col-md-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Filter By</mat-label>
            <mat-select [(ngModel)]="filter.option">
              <mat-option *ngFor="let filter of filterOptions" [value]="filter.value">
                {{filter.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field *ngIf="filter.option == 1" appearance="outline" class="w-100">
            <mat-label>User</mat-label>
            <mat-select [(ngModel)]="filter.staffId">
              <mat-option *ngFor="let user of staff$ |async" [value]="user.staffId">
                {{user.firstName}} {{user.lastName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="filter.option == 2" appearance="outline" class="w-100">
            <mat-label>Client</mat-label>
            <mat-select [(ngModel)]="filter.clientId">
              <mat-option *ngFor="let client of clients$ |async" [value]="client.clientId">
                {{client.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="filter.option >= 3 && filter.option < 7" appearance="outline" class="w-100">
            <mat-label>Year</mat-label>
            <mat-select  [(ngModel)]="filter.year">
              <mat-option *ngFor="let year of yearOptions" [value]="year.value">
                {{year.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="filter.option == 7" appearance="outline" class="w-100">
            <mat-label>Date Range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate [(ngModel)]="dateFilter.startTime" placeholder="Start date" />
              <input matEndDate [(ngModel)]="dateFilter.endTime" placeholder="End date" />
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field *ngIf="filter.option == 1 && filterStagesOptions" appearance="outline" class="w-100">
            <mat-label>Opportunity Stage</mat-label>
            <mat-select [(ngModel)]="filterByStage.value" (closed)="filterStages()">
              <mat-option *ngFor="let opportunityStage of opportunityStagesOptions" [value]="opportunityStage.value">
                {{ opportunityStage.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="filter.option == 2" appearance="outline" class="w-100">
            <mat-label>Choose Date</mat-label>
            <input matInput [matDatepicker]="datepicker" [(ngModel)]="datePicker">
            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field *ngIf="filter.option == 3 && filterOpenClosed" appearance="outline" class="w-100">
            <mat-label>Status</mat-label>
            <mat-select [(ngModel)]="filterByOpenClosed.value" (closed)="filterOpportunitiesByOpenClosed()">
              <mat-option *ngFor="let option of openClosedOptions" [value]="option.value">
                {{option.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="filter.option == 3 && filterOpenClosed" appearance="outline" class="w-100">
            <mat-label>User</mat-label>
            <mat-select [formControl]="filterOpenClosedByUser" (closed)="filterByUser()">
              <mat-option *ngFor="let user of staff$ |async" [value]="user.staffId">
                {{user.firstName}} {{user.lastName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="filter.option == 4" appearance="outline" class="w-100">
            <mat-label>Half</mat-label>
            <mat-select [(ngModel)]="filter.half">
              <mat-option *ngFor="let half of halfOptions" [value]="half.value">
                {{half.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="filter.option == 5" appearance="outline" class="w-100">
            <mat-label>Quarter</mat-label>
            <mat-select [(ngModel)]="filter.quarter">
              <mat-option *ngFor="let quarter of quarterOptions" [value]="quarter.value">
                {{quarter.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="filter.option == 6" appearance="outline" class="w-100">
            <mat-label>Month</mat-label>
            <mat-select [(ngModel)]="filter.month">
              <mat-option *ngFor="let month of monthOptions" [value]="month.value">
                {{month.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div *ngIf=""></div>
        </div>
        <div class="col-md-3 d-flex align-items-center justify-content-end">
          <button class="mb-2 " (click)="filterOpportunities()" mat-stroked-button color="primary">Update</button>
        </div>
      </div>
      <div class="opportunity-table of-auto">
        <table mat-table [dataSource]="dataSource" class="border">

          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element; index as i"> {{i+1}} </td>
          </ng-container>

          <!-- Client Column -->
          <ng-container matColumnDef="client">
            <th mat-header-cell *matHeaderCellDef> Client </th>
            <td mat-cell *matCellDef="let element">
              <a [routerLink]="['/opportunity', element.id]">{{element.client}}</a>
            </td>
          </ng-container>

          <!-- Opportunity Column -->
          <ng-container matColumnDef="opportunity">
            <th mat-header-cell *matHeaderCellDef> Opportunity </th>
            <td mat-cell *matCellDef="let element">
              {{element.name}}
            </td>
          </ng-container>

          <!-- Price Column -->
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let element"> {{element.sellingPrice |currency:'USD':'symbol':'1.2-2'}} </td>
          </ng-container>

          <!-- Margin Column -->
          <ng-container matColumnDef="margin">
            <th mat-header-cell *matHeaderCellDef> Margin </th>
            <td mat-cell *matCellDef="let element"> {{element.margin|currency:'USD':'symbol':'1.2-2'}} </td>
          </ng-container>

          <!-- Status Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Stage </th>
            <td mat-cell *matCellDef="let element"> {{element.stage}} </td>
          </ng-container>

          <!-- Date Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Created On </th>
            <td mat-cell *matCellDef="let element"> {{element.createdDate |date:'mediumDate'}} </td>
          </ng-container>

          <!-- Buttons Column -->
          <ng-container matColumnDef="button">
            <th mat-header-cell *matHeaderCellDef> <span class="invisible">Button</span> </th>
            <td mat-cell *matCellDef="let element">
              <button [matTooltip]="toolTip" matTooltipPosition="after" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button (click)="editOpportunity(element.id)" mat-menu-item>
                  <mat-icon>edit</mat-icon>
                  <span>Edit</span>
                </button>
                <button *ngIf="!element.stage.includes('Payment')" (click)="updateStage(element.id)" mat-menu-item>
                  <mat-icon>upgrade</mat-icon>
                  <span>Update Stage</span>
                </button>
              </mat-menu>

            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </mat-card>
  </div>
</div>
