<olla-page-name [currentPage]="currentPage"></olla-page-name>


<div *ngIf="dataSource.data.length; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
  <div class="row  my-3">
    <div class="col-xl">
      <mat-card class="shadow br-20">
        <olla-loading-spinner [loading]="loading"></olla-loading-spinner>
        <div class="d-flex justify-content-end my-3">
          <button (click)="openDialog()" mat-stroked-button color="primary">New Staff</button>
        </div>
        <div class="of-auto">
          <table mat-table [dataSource]="dataSource" class="border">

            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element; index as i"> {{i+1}} </td>
            </ng-container>

            <!-- Client Column -->
            <ng-container matColumnDef="staff">
              <th mat-header-cell *matHeaderCellDef> Staff </th>
              <td mat-cell *matCellDef="let element"> {{element.firstName}} {{element.lastName}}</td>
            </ng-container>

            <!-- Date Column -->
            <ng-container matColumnDef="phone">
              <th mat-header-cell *matHeaderCellDef>Phone </th>
              <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
            </ng-container>


            <!-- Date Column -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef>Email </th>
              <td mat-cell *matCellDef="let element">
                <span style="display: inline-block; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; max-width: 9rem;">
                  {{element.email}}
                </span>
              </td>
            </ng-container>

             <!-- Date Column -->
             <ng-container matColumnDef="department">
              <th mat-header-cell *matHeaderCellDef>Department </th>
              <td mat-cell *matCellDef="let element"> {{element.department}} </td>
            </ng-container>

            <!-- Date Column -->
            <ng-container matColumnDef="role">
              <th mat-header-cell *matHeaderCellDef>Position </th>
              <td mat-cell *matCellDef="let element"> {{element.officeRole}} </td>
            </ng-container>

            <!-- Date Column -->
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef>Status </th>
              <td mat-cell *matCellDef="let element">
                <span *ngIf="element.active" class="badge badge-success">Active</span>
                <span *ngIf="!element.active" class="badge badge-danger">Inactive</span>
              </td>
            </ng-container>

            <!-- Buttons Column -->
            <ng-container matColumnDef="buttons">
              <th mat-header-cell *matHeaderCellDef> <span class="invisible">Button</span> </th>
              <td mat-cell *matCellDef="let element">
                <button *ngIf="element.active" (click)="deactivateStaff(element.staffId)" mat-stroked-button color="warn">Deactivate</button>
                <button *ngIf="!element.active" (click)="activateStaff(element.staffId)" mat-stroked-button color="primary">Activate</button>
              </td>
            </ng-container>

            <!-- More Options Buttons -->
            <ng-container matColumnDef="moreButtons">
              <th mat-header-cell *matHeaderCellDef> <span class="invisible">Button</span> </th>
              <td mat-cell *matCellDef="let element">
                <button [matTooltip]="toolTip" matTooltipPosition="after" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="viewStaff(element.staffId)">
                    <mat-icon>visibility</mat-icon>
                    <span>View</span>
                  </button>
                  <button mat-menu-item (click)="editStaff(element.staffId)">
                    <mat-icon>edit</mat-icon>
                    <span>Edit</span>
                  </button>
                </mat-menu>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </mat-card>
    </div>
  </div>
</ng-template>
<ng-template #elseBlock>
  <olla-blank-page-card (create)="createStaff()"
[btnText]="btnText" [cardText]="cardText" [imageSrc]="imageSrc"></olla-blank-page-card>
</ng-template>
